table {
    width: 100%;
}
button {
    width: 100%;
    font-size: 150%;
}
.ac {
    color: #977390;
}

main{
    background-color: #977390;
    min-height: 230px;
    padding: 10px;
}

.pantalla{
    text-align: center;
    font-size: 170%;
    background-color: white;
}

.contenido{
    padding-top: 50px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 30%;
    width: 370x;
}

