header{
    display: flex;
    background-color: #785589;
    padding: 20px;
    padding-left: 150px;
    text-align: center;
    color: white;
}

main{
    background-color: #977390;
    min-height: 500px;
}

.boton{
    font-family: inherit;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.contenido{
    padding-left: 10%;
    padding-right: 10%;
}

.datos{
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
}
